{
    "presets": [
        "focus"
    ],
    "plugins": [
        [
            "replace-require",
            {
                "DEV_ARCHETYPE": "require('webpack-focus/require')"
            }
        ]
    ]
}